.user-button-light{
    background-color: #fff;
    font-family: 'quicksand';
    color: #444453;
    border: 1px solid #444453;
    outline: none;
    transition: .3s;
    padding: .35rem .5rem;
}

.user-button-light:hover{
    background-color: transparent;
    color: #fff;
}

.user-button-dark{
    background-color: #444453;
    font-family: 'quicksand';
    color: #fff;
    border: 1px solid #444453;
    outline: none;
    transition: .3s;
    padding: .35rem .5rem;
}
.fav{
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 50%;
    background-color: #fff;
}
.user-button-dark:hover{
    background-color: transparent;
    color: #444453;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-444{
    color: #444453;
}
.quicksand{
    font-family: 'quicksand';
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.user-button-dark-link {
    background-color: #444453;
    font-family: 'quicksand';
    color: #fff;
    border: 1px solid #444453;
    outline: none;
    transition: .3s;
    padding: .35rem .5rem;
    text-align: center;
    display: block;
    color: #fff!important;
}

.user-button-dark-link:hover {
    background-color: transparent;
    color: #444453 !important;
    text-decoration: none;
}

.user-button-light-link {
    background-color: #fff;
    font-family: 'quicksand';
    color: #fff;
    border: 1px solid #444453;
    outline: none;
    transition: .3s;
    padding: .35rem .5rem;
    text-align: center;
    color: #444453 !important;
}

    .user-button-light-link:hover {
        background-color: transparent;
        color: #fff !important;
        text-decoration: none;
    }

.user-button-secondary {
    background-color: #fff;
    font-family: 'quicksand';
    color: #fff;
    border: 1px solid #dfdfdf;
    outline: none;
    transition: .3s;
    padding: .35rem .5rem;
    text-align: center;
    color: #444453 !important;
    border-radius: 2px;
}
.user-button-red-link {
    background-color: #832922;
    font-family: 'quicksand';
    color: #fff;
    border: 1px solid #832922;
    outline: none;
    transition: .3s;
    padding: .75rem 1.25rem;
    text-align: center;
    color: #fff !important;
}

    .user-button-red-link:hover {
        background-color: transparent;
        color: #fff !important;
        text-decoration: none;
    }

.bg-gray {
    background-color: #e9e9e9;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg-white {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.delay1 {
    animation-delay: .06s;
}

.delay2 {
    animation-delay: .12s;
}

.delay3 {
    animation-delay: .18s;
}

.user-input {
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0.35rem 0.5rem;
}