a{
    text-decoration: none!important;
}
.sub-header{
    background-color: #d8e9f0d8;
    height: 125px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.sub-header::before{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}


.category{
    width: 1370px;
    margin: auto;
}
.category-title{
    color: #444453;
}

.category-tree{
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 0;
    color: #444453;
}

.product-list-page{
    width: 1370px;
    margin: auto;
    margin-top: 4rem;
}


.product-list{
    width: 100%;
    margin-left: 2.5rem;
}

.list-page-search{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: .25rem .5rem;
}

.list-page-search-input{
    border: none;
    outline: none;
    color: #8d8d8d;
}

.search-icon{
    color: #b7b7b7;
}

.search-icon::before{
    content: "\55";
}

::placeholder { 
    color: #b7b7b7;
}

.filter-title{
    font-family: 'quicksand';
    font-weight: 600;
    font-size: 1.15rem;
}

.filter-link{
    color: #a8a8a8!important;
}

.filter-box{
    max-height: 225px;
    overflow-y: scroll;
    overflow-x: hidden;
    mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: .3s;
}
.filter-box:hover{
    -webkit-mask-position: left top;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #444453!important;
  }
  
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(68, 68, 83, 0.25)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #1f1f1f; 
  }


.product-carts{
    gap: 20px;
}

.product-cart{
    position: relative;
    overflow: hidden;
}

    .product-cart img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        transition: .3s;
    }

.absolute-icons{
    position: absolute;
    right: -10%;
    top: 10px;
    opacity: 0;
    transition: .4s;
}

.product-cart:hover .absolute-icons{
    opacity: 1;
    right: 10px;
}   

.cart-icon{
    font-size: 1.25rem;
    color: #444453;
}

.cart-icon-link{
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 50%;
    background-color: #fff;
}
p{
    margin-bottom: 0;
}
.fa-star{
    color: orange;
}

.product-cart-info{
    padding: .5rem 0;
}


.product-cart .larger-image {
    height: 750px
}

.category-list-image {
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-list-image::before{
    content: '';
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.list-page-category-title {
    font-size: 2rem;
    z-index: 50;
    letter-spacing: 1px;
    font-family: 'Josefin Sans';
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
    position: relative;
}


.category-list-image:hover {
    transform: scale(1.2);
}

.category-image-list {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.list-page-sidebar{
    position: sticky;
    height: 100%;
    top: 168px;
}