@*<footer class="page-footer">
    <div class="footer_periods">
    <div class="footer_periods_period">
        <img src="~/img/footer/buy.png" alt="">
        <p>Kapıda Ödeme</p>
    </div>
    <div class="border-y"></div>
    <div class="footer_periods_period">
        <img src="~/img/footer/safety.jpg" alt="">
        <p>Güvenli Alışveriş</p>
    </div>
    <div class="border-y"></div>
    <div class="footer_periods_period">
        <img src="~/img/footer/return.png" alt="">
        <p>Ücretsiz İade</p>
    </div>
    <div class="border-y"></div>
    <div class="footer_periods_period">
        <img src="~/img/footer/buy.png" alt="">
        <p>Kapıda Ödeme</p>
    </div>
    </div>
    
    <div class="main_footer_upper">
    <div class="footer_main">
        <div class="footer_main_brand">
        <img src="~/img/logo_transparent.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, ipsum? Officia consequuntur corrupti quas nesciunt officiis exercitationem voluptates placeat ullam?</p>
        </div>
        <div class="footer_main_links">
        <p class="footer_main_links_title">Bağlantılar</p>
        <ul>
            <li class="footer_main_links_link">
            <a href="">İletişim</a>
            </li>
            <li class="footer_main_links_link">
            <a href="">Hakkımızda</a>
            </li>
            <li class="footer_main_links_link">
            <a href="">Yardım & Destek</a>
            </li>
            <li class="footer_main_links_link">
            <a href="">Gizlilik Politikamız</a>
            </li>
        </ul>
        </div>
    
        <div class="footer_main_socials">
        <h3>BİZİ TAKİP EDİN</h3>
        <ul class="footer_main_socials_links">
            <li class="footer_main_socials_link">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <span>İnstagram</span>
            </li>
            <li class="footer_main_socials_link">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <span>Facebook</span>
            </li>
            <li class="footer_main_socials_link">
            <a href=""><i class="fa-brands fa-pinterest"></i></a>
            <span>Pinterest</span>
            </li>
            <li class="footer_main_socials_link">
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <span>Youtube</span>
            </li>
            <li class="footer_main_socials_link">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <span>Twitter</span>
            </li>
        </ul>
        </div>
    
    </div>
    </div>
    
    <div class="footer_bottom">
    <span>2022 arite.com Her Hakkı Saklıdır</span>
    <div class="footer_bottom_download_app">
        <span>Uygulamamızı İndirin</span>
        <div class="footer_bottom_download_app_icones">
        <img src="~/img/footer/appstore.png" alt="">
        <img src="~/img/footer/playstore.png" alt="">
        </div>
    </div>
    </div>
</footer>*@


<footer class="layout-footer mt-4">
    <div class="footer">
        <div class="footer-brand">
            <img src="~/img/arite_beyaz.png"/>
            <p class="text-light" style="font-size:.9rem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, cumque. Ut non velit ea doloremque.</p>
        </div>
        <div class="footer-links" style="margin-left:3rem">
            <h5 class="text-light font-weight-bold" style="font-family:'quicksand'">Bağlantılar</h5>
            <ul class="footer-items">
                <li class="footer-item">
                    <a class="footer-link">Hakkımızda</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link">Yardım & Destek</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link">İletişim</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link">Gizlilik Politikamız</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link">Kargolama</a>
                </li>
            </ul>
        </div>
        <div class="footer-links" style="margin-left:2rem">
            <h5 class="text-light font-weight-bold" style="font-family:'quicksand'">Buralarda da Varız</h5>
            <ul class="footer-items">
                <li class="footer-item text-light">
                    <a href="" class="footer-social"><i class="text-light fa-brands fa-twitter"></i></a>
                    <span>Twitter</span>
                </li>
                <li class="footer-item text-light">
                    <a href="" class="footer-social"><i class="text-light fa-brands fa-youtube"></i></a>
                    <span>Youtube</span>
                </li>
                <li class="footer-item text-light">
                    <a href="" class="footer-social"><i class="text-light fa-brands fa-pinterest"></i></a>
                    <span>Pinterest</span>
                </li>
                <li class="footer-item text-light">
                    <a href="" class="footer-social"><i class="text-light fa-brands fa-facebook"></i></a>
                    <span>Facebook</span>
                </li>
                <li class="footer-item text-light">
                    <a href="" class="footer-social"><i class="text-light fa-brands fa-instagram"></i></a>
                    <span>İnstagram</span>
                </li>
            </ul>
        </div>
        <div class="subscribe-box" style="height:100%">
            <p class="text-light font-weight-bold mb-2 quicksand">Fırsatlardan Haberdar Olun</p>
            <p class="text-light" style="font-size:.9rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, nesciunt.</p>
            <div class="subscribe">
                <input type="text" class="subscribe-input" placeholder="E-Post Adresi">
                <a><i class="fa-regular fa-envelope text-light"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright text-center border-top text-light" style="padding: 1rem;">
        Copyright arite.com.tr Tüm Hakları Saklıdır.
    </div>
</footer>