@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@section SubHeader{
    <div class="header" style="height:150px">
    <div class="header-content">
            <h2>Son Loglar</h2>
    </div>
</div>
}*@