@model AdminStatisticsModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "İstatistikler";
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/admin/statistic.js"></script>
    <script src="~/js/admin/adminchart.js"></script>
}

@section Styles{
    <style>
        .statistics{
            margin: auto;
            margin-top: 2rem;
        }
        .chart-sm{
            max-width: 300px;
            margin: auto;
            height: 100%;
            box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
            padding: 1rem;
            border-radius: 8px
        }
        .chart-md{
            width: 700px;
            margin: auto;
            height: 100%;
            box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
            padding: 1rem;
            border-radius: 8px
        }
        .box-shadow{
            box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
            padding: 1rem;
            border-radius: 8px
        }
        .a-center{
            display:flex;
            gap:10px;
            align-items:center
        }

        .subtitle{
            color: #b2b2b2;
            font-size: .75rem;
        }
    </style>
}

@*@section SubHeader{
    <div class="header" style="height:150px">
    <div class="header-content">
            <h2>İstatislikler</h2>
    </div>
</div>
}*@

<div class="statistics">
    <div class="compare grid-2">
        <div class="box-shadow">
            <h3 class="subtitle">Geçen Aya Göre Satış Değişimi (Miktar)</h3>
            <div class="a-center">
                <i class="fa-solid fa-caret-up" style="color:green;font-size:2.2rem"></i>
                <span style="font-weight: 700;font-size: 1.75rem;font-family:
                      'poppins';color: green;">1.556,92</span>
            </div>
        </div>
        <div class="box-shadow">
            <h3 class="subtitle">Geçen Aya Göre Satış Değişimi (Yüzde)</h3>
            <div class="a-center">
                <i class="fa-solid fa-caret-up" style="color:green;font-size:2.2rem"></i>
                <span style="font-weight: 700;font-size: 1.75rem;font-family:
                      'poppins';color: green;">%7.2</span>
            </div>
        </div>
    </div>

    <div class="compare grid-2 mt-2">
        <div class="box-shadow">
            <h3 class="subtitle">Geçen Yıla Göre Satış Değişimi (Miktar)</h3>
            <div class="a-center">
                <i class="fa-solid fa-caret-down" style="color:red;font-size:2.2rem"></i>
                <span style="font-weight: 700;font-size: 1.75rem;font-family:
                      'poppins';color: red;">3.452,53</span>
            </div>
        </div>
        <div class="box-shadow">
            <h3 class="subtitle">Geçen Yıla Göre Satış Değişimi (Yüzde)</h3>
            <div class="a-center">
                <i class="fa-solid fa-caret-down" style="color:red;font-size:2.2rem"></i>
                <span style="font-weight: 700;font-size: 1.75rem;font-family:
                      'poppins';color: red;">%9.1</span>
            </div>
        </div>
    </div>
    <div id="charts">
        <div class="mb-2" style="margin-top:2rem!important">
            <h4 class="changeAmount chart mb-1" style="margin-bottom:.75rem">
                Aylık Satış Grafiği (Ciro)</h4>
            <div class="grid-2 chart">
                <div class=chart-md>
                    <canvas id="salePrices"></canvas>
                </div>
                <div class="chart-sm">
                    <canvas id="salesByCategoryPrice"></canvas>
                </div>
            </div>
        </div>
        <div class="mb-2" style="margin-top:2rem!important">
            <h4 class="changeAmount chart mb-1" style="margin-bottom:.75rem">
                Aylık Satış Grafiği (Miktar)</h4>
            <div class="grid-2 chart">
                <div class=chart-md>
                    <canvas id="saleCounts"></canvas>
                </div>
                <div class="chart-sm">
                    <canvas id="salesByCategoryCount"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
