@model AppUser
@{
    ViewData["Title"] = "Şifremi Sıfırla";
    Layout = "~/Views/Shared/_ProcessLayout.cshtml";
}

@section Styles{
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/ui/userinfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ma.css">
}

<div class="container">
    <div class="main-body" style="width:50%;margin:auto;margin-top:1rem">

        <h1 style="font-size:1.75rem;font-weight:600;font-family:'open sans';padding:.5rem">Şifremi Değiştir</h1>

        <form method="post" action="/user/updatePassword" class="card">
            <div class="card-body">
                <div class="input-group"></div>
                <label for="cpass">Mevcut Şifre</label>
                <input type="password" class="form-control" id="cpass" name="CurrentPassword">
            </div>
            <div class="card-body">
                <div class="input-group"></div>
                <label for="npass">Yeni Şifre</label>
                <input type="password" class="form-control" id="npass" name="NewPassword">
            </div>
            <div class="card-body">
                <div class="input-group"></div>
                <label for="npassa">Yeni Şifre (Tekrar)</label>
                <input type="password" class="form-control" id="npassa" name="NewPasswordAgain">
            </div>
            <input class="form-control" hidden value='@ViewData["PasswordResetToken"]' name="Token">
            <button class="btn btn-info btn-block">E-Posta Değiştir</button>
        </form>
    </div>
</div>