@model AppUser
@{
    ViewData["Title"] = "E-Posta Adresimi Güncelle";
    Layout = "~/Views/Shared/_ProcessLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/ui/userinfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ma.css">
    <style>
        main{
            min-height:75vh;
            display:flex;
            justify-content:center;
        }
        .login-title{
            font-size: 1.5rem;
            font-weight: bold;
        }
        label{
            margin-bottom:0!important;
        }
    </style>
}


<div class="login-page quicksand d-flex align-items-center">
    <div class="login-cart p-4" style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
        <div style="width:400px;">
            <h2 style="font-size:1.5rem;font-family:'quicksand', sans-serif" class="border-bottom">E-Posta Değiştir</h2>
            <small>Kullanımda Olan: @Model.Email</small>
            <form method="post" class="login-form" style="width:100%;">
                <div class="input-div mt-3">
                    <label for="NewEmail">Yeni E-Posta Adresiniz</label>
                    <input class="user-input d-bock w-100" id="NewEmail" name="NewEmail">
                </div>
                <div class="input-div mt-3">
                    <label for="NewEmailAgain">Yeni E-Posta Adresiniz Tekrar</label>
                    <input class="user-input d-bock w-100" id="NewEmailAgain" name="NewEmailAgain">
                </div>
                <div class="input-div mt-3">
                    <label for="Password">Şifreniz</label>
                    <input type="password" class="user-input d-bock w-100" id="Password" name="Password">
                </div>
                <input hidden value="@Model.Email" name="Email"/>
                <button class="user-button-dark w-100 mt-2">E-Posta Değiştir</button>
            </form>
        </div>
    </div>
</div>

@*
<div class="login-page" style="margin:3rem 0">
    <div class="login-cart">
        <div style="width:400px;">
            <div><p>@TempData["Validations"]</p></div>
            <h2 class="login-title">Şirfe Sıfırla</h2>
            <form method="post" class="login-form" style="width:100%;">
                <div class="input-div">
                    <label asp-for="Email">E-Posta Adresi</label>
                    <input type="email" asp-for="Email"
                           class="form-input" placeholder="E-Posta Adresi Buraya">
                </div>
                <div class="input-div">
                    <label asp-for="Password">Yeni Şifre</label>
                    <input type="password" asp-for="Password"
                           class="form-input">
                </div>
                <div class="input-div">
                    <label asp-for="PasswordAgain">Yeni Şifre Tekrar</label>
                    <input type="password" asp-for="PasswordAgain"
                           class="form-input">
                </div>
                <input hidden asp-for="Token"/>
                <input hidden asp-for="userId"/>
                <button type="submit" class="form-button">Gönder</button>
            </form>
        </div>
    </div>

</div>
 *@